# Import Modules

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [4]:
n_rows=10
n_cols=5
cols= tuple('ABCDE')
df= pd.DataFrame(np.random.randint(1,10,size= (n_rows,n_cols)),
                columns= cols)

df

   A  B  C  D  E
0  3  6  3  9  5
1  1  2  6  3  9
2  7  8  4  3  1
3  8  8  8  2  7
4  5  3  7  9  5
5  1  5  3  9  5
6  7  3  2  9  7
7  6  5  5  1  5
8  6  7  4  9  9
9  9  7  5  5  7

# Menghitung jumlah baris menurut kriteria tertentu

In [6]:
(df['A']<5).sum()

3

In [8]:
(df['A']<5).mean()

0.3