# Import Modules

In [3]:
import pandas as pd
import numpy as np
print (pd.__version__)
print (np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [5]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  2  6  7  3  2
1  4  5  9  8  2
2  2  8  5  7  8
3  9  5  8  7  6
4  2  3  7  1  5

In [8]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

# Menyertakan Prefix Kolom

In [13]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        2        6        7        3        2
1        4        5        9        8        2
2        2        8        5        7        8
3        9        5        8        7        6
4        2        3        7        1        5

# Menyertakan Suffix Kolom

In [16]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        2        6        7        3        2
1        4        5        9        8        2
2        2        8        5        7        8
3        9        5        8        7        6
4        2        3        7        1        5