# Import Modules

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [6]:
n_rows = 365
n_cols = 2
cols = ['col1','col2']
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')
df

            col1  col2
2024-01-01    17    10
2024-01-02    10    14
2024-01-03    12    10
2024-01-04     7     8
2024-01-05    16    15
...          ...   ...
2024-12-26    16    13
2024-12-27    15     9
2024-12-28    13     8
2024-12-29    11    11
2024-12-30    18    17

[365 rows x 2 columns]

# Seleksi weekdays dan weekends

In [10]:
weekdays_df = df[df.index.dayofweek.isin([0,1,2,3,4])]
weekdays_df.head(7)

            col1  col2
2024-01-01    17    10
2024-01-02    10    14
2024-01-03    12    10
2024-01-04     7     8
2024-01-05    16    15
2024-01-08     9    15
2024-01-09     8    11

In [12]:
weekends_df = df[df.index.dayofweek.isin([5,6])]
weekends_df.head(7)

            col1  col2
2024-01-06    16     7
2024-01-07     1    10
2024-01-13     6     5
2024-01-14     9    10
2024-01-20     6    19
2024-01-21    15    19
2024-01-27    19     1