# Import Modules

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  16   4   1  10   5
1  17   3   3  16  10
2   2  17  15   8  11
3  11  19  13   6  19
4   1   6  11   3   5

# Akses nilai variabel pada query()

In [6]:
df.query('A > 10')

    A   B   C   D   E
0  16   4   1  10   5
1  17   3   3  16  10
3  11  19  13   6  19

In [8]:
rerata = df['A'].mean()
rerata

9.4

In [10]:
df.query('A > @rerata')

    A   B   C   D   E
0  16   4   1  10   5
1  17   3   3  16  10
3  11  19  13   6  19