# Import Modules

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 1
cols= ('usia',)
df = pd.DataFrame(np.random.randint(1,99,size=(n_rows,n_cols)),
                 columns=cols)
df

   usia
0    34
1     6
2    14
3    95
4    22
5    68
6    88
7    26
8    17
9    44

# Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [5]:
df['kelompok usia']= pd.cut(df['usia'],
                           bins=[0,18,65,99],
                           labels = ['anak','dewasa','manula'])
df

   usia kelompok usia
0    34        dewasa
1     6          anak
2    14          anak
3    95        manula
4    22        dewasa
5    68        manula
6    88        manula
7    26        dewasa
8    17          anak
9    44        dewasa